# Production Environment Variables
PORT=8080
NODE_ENV=production
MONGODB_URI=mongodb+srv://hiteshsutharvfx_db_user:5O2u6aMsbtcrHXnf@cluster0.eaa6hyq.mongodb.net/attendance_system?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=super_secret_jwt_key_tcet_attendance_2026_production_secure_token
MASTER_RESET_PASSWORD=RESET@2026
